.containerbody {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  gap: 1rem;
}
.menuinContain {
  width: 70%;
}
.cartinContain {
  margin-top: 1rem;
  width: 30%;
}

.menucontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem 1rem;
}
.menuItem {
  width: 100%;
}
.menuHead {
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  padding-bottom: 1rem;
  margin: 0 auto;
}
.menuHead > picture > img {
  background-size: contain;
  width: 100%;
  height: 14rem;
  border-radius: 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
}
.addCartBtn {
  position: absolute;
  bottom: 0px;
  right: 25%;
  background-color: white;
  gap: 5px;
  border: 1px solid;
  border-radius: 50px;
  padding: 0.75rem 1.25rem;
  border-color: #b14848;
  color: #111;
  margin: 0 auto;
}
.quantity {
  border-radius: 100%;
  border: 1px solid #fefefe;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
}
.quantitydiv {
  position: absolute;
  bottom: 0px;
  right: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #C73A0F;
  width: 7.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 0 auto;
}
.itemBody {
  text-align: left;
  line-height: 0.4rem;
  padding: 0.5rem;
  border-radius: 2rem;
  margin: 0 auto;
}
.itemBody > p:first-child {
  font-size: 0.75rem;
  color: gray;
}

.itemBody > p:last-child {
  font-size: 1rem;
  font-weight: bold;
  color: #C73A0F;
}

.cartcontainer {
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  padding-bottom: 0.15rem;
}
.cartcontainer h2 {
  font-size: 1.6rem;
  font-weight: 800;
  color: #C73A0F;
  text-align: left;
  padding: 1.2rem;
  padding-bottom: 0;
}
.cartcontainer .emptycart p {
  color: #b90d0dcc;
  font-weight: 650;
}

.activecart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartCard {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #1111112a;
  line-height: 0.1rem;
}
.cartCard p:first-child {
  font-weight: 700;
  text-align: left;
}

.cartitemprices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  color: #111111b4;
}
.activecart .cartitemprices p:first-child,
.activecart .cartitemprices p:last-child {
  font-weight: 700;
  color: #C73A0F;
}
.remove {
  border-radius: 100%;
  border: 1px solid #C73A0F;
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
}
.carttotal,
.confirmtotal {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.carttotal p:last-child {
  font-size: 1.5rem;
  font-weight: 700;
  color: #C73A0F;
}
.confirmtotal p:last-child {
  font-size: medium;
  font-weight: 700;
}
.carboninfo {
  width: 90%;
  margin: 0 auto;
  background-color: #FCF9F7;
  padding: 0.15rem;
  border-radius: 0.5rem;
}
.confirmBtn {
  background: #C73A0F;
  width: 95%;
  padding: 0.5rem;
  margin: 0.75rem auto 0.25rem auto;
  border-radius: 2.5rem;
  border: transparent;
}

.confirmScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.826);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.confirmedOrder {
  width: 25%;
  max-height: 65%;
  background-color: white;
  padding: 1.75rem 1.25rem;
  text-align: left;
  line-height: 0.2;
  border-radius: 1rem;
}
.confirmedOrder img {
  width: 30px;
}
.confirmedOrder h3 {
  font-size: xx-large;
}

.confirmItems {
  width: 100%;
  max-height: 40dvh;
  background-color: #FCF9F7;
  padding-top: 0.15rem;
  overflow-y: auto;
}
.confirmCard .confirmitemprices {
  display: flex;
  justify-content: space-between;
  width: 6rem;
}

.confirmCard .confirmitemprices p:first-child {
  color: #C73A0F;
  font-weight: 700;
}

.confirmCard .confirmitemprices p:last-child {
  font-weight: 400;
  color: #11111186;
}

.activeconfirm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmCard {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0.1;
  text-align: left;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #1111112a;
}

.confirminfos {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

.confirmCard img {
  width: 3.2rem;
  height: auto;
  border-radius: 0.25rem;
}

.confirmCard p:first-child,
.confirmCard p:last-child {
  font-size: small;
  font-weight: 700;
}

@media only screen and (max-width: 450px) {
  .menucontainer {
    grid-template-columns: auto;
  }
  .confirmItems {
    max-height: 50dvh;
  }
}

@media only screen and (min-width: 450px) and (max-width: 1024px) {
  .confirmItems {
    max-height: 80dvh;
  }
  .menucontainer {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 1024px) {
  .containerbody {
    flex-direction: column;
  }

  .menuinContain {
    width: 100%;
  }

  .cartinContain {
    width: 100%;
    margin-top: 0.5rem;
  }

  .confirmScreen {
    align-items: flex-end;
  }
  .confirmedOrder {
    width: 100%;
    max-height: 80%;
  }
}
